[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pylint = "*"
black = "*"
mypy = "*"
flake8 = "*"
argparse-logging = "*"
# python-rocksdb = "*"
pytest = "==5.0.1"  # https://github.com/VSCodium/vscodium/issues/243
pytest-mock = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
